*.class
target
*.log
temp
*.swp
*.bak
.classpath
.project
.settings
.DS_Store
*Protos.java
build
/*.yaml
.svn
*.iml
.idea
.idea/
*target/
*.iml
*.project
*.settings
bin/
classes/
antx.properties
hsf.configuration/
*.pyc
*.xml
.idea/
env/
meta_service.*.log.*